.confirm-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 448px;
  min-height: 300px;
  padding: 24px;

  &__title {
    color: #231f20;
    font-weight: 500;
    font-size: 24px;
  }

  &__actions {
    padding: 0;
  }
}
